<!-- forgot-password.component.html -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="forgot-password-box">
          <h2 class="text-center mb-4">Forgot Password</h2>
          <form (ngSubmit)="onSubmit()" *ngIf="!otpEntered; else otpForm">
            <div class="form-group">
              <label for="email">Enter your email address:</label>
              <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="email">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
          </form>
          <ng-template #otpForm>
            <form (ngSubmit)="onSubmitOTP()">
              <div class="form-group">
                <label for="otp">Enter the OTP sent to your email:</label>
                <input type="text" class="form-control" id="otp" placeholder="OTP" required [(ngModel)]="otp">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit OTP</button>
            </form>
          </ng-template>
          <!-- Display reset password confirmation or error message here -->
        </div>
      </div>
    </div>
  </div>
  